{% load static %}
<!DOCTYPE html>
     <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">

        <meta charset="utf-8"/>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="icon" href="{% static 'media/favicon.ico' %}" type="image/x-icon" />
        <script type="text/javascript" src="{% static 'js/article_text_line_judge.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/basic.css' %}">
        <title>Sunspot331</title>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108434661-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-108434661-1');
        </script>
        <meta property="og:title" content="Sunspot331" />
        <meta property="og:description" content="宇宙に関するニュースのまとめサイトです。" />
        <meta property="og:image" content="https://sunspot331.herokuapp.com/static/media/site_logo.PNG" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://sunspot331.herokuapp.com/" />
        <meta property="fb:app_id" content="2039148366321932" />
    </head>
    <body>
        <div id="wrap">
            <div id="fb-root"></div> <!-- facebookの共有ボタンのためのおまじない -->
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            <div id="header"> <!-- ヘッダー部分 -->
                <div id="header_title">
                    <a href="/">Sunspot331</a> <!-- サンスポット(黒点)331 -->
                </div>
                <a class="fb btn" href="http://www.facebook.com/share.php?u=https://sunspot331.herokuapp.com/" onclick="window.open(this.href, 'FBwindow', 'width=636, height=200, menubar=no, toolbar=no, scrollbars=yes'); return false;">Facebookでシェアする</a>
            </div>
             <div id="contents">
                <div id="right_side_bar">
                    <div class="popular_post_and_category">
                        <hr class="sidebar_hr_size">
                        <p class="popular_post_and_category_title">過去1週間の人気ページ</p>
                        {% for popular in popular_post_list %}
                            <p>
                                {{ forloop.counter }}位：{{ popular.page_view }}View<br>
                                <a href="{{ popular.url }}">{{ popular.title }}</a>
                            </p>
                            {% if not forloop.last %}
                                <hr id="popular_hr">
                            {% endif %}
                        {% endfor %}
                        <hr class="sidebar_hr_size">
                    </div>
                    <div class="popular_post_and_category">
                        <p class="popular_post_and_category_title">カテゴリー</p>
                        <div id="link_underbar_delete">
                            {% for category in categorys %}
                                <a href="{% url 'category' pk=category.pk %}" class="square_btn">{{ category.name }}</a>
                            {% endfor %}
                        </div>
                        <hr class="sidebar_hr_size">
                    </div>
                </div>
                <div id="article_block">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            <div id="footer">

            </div>
        </div>
    </body>
</html>