{% extends 'space_post/base.html' %}
{% load static %}
{% block content %}

    {% for post in page %} <!-- 一ページ分の記事を取得しているpageから記事を一つづつ取得 -->
        <div id="article">
            <div id="not_footer">
                <div id="article_header">
                    <p>published: {{ post.published_date.date }}<a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a></p> <!-- その記事の公開日とコメント数を表示 -->
                </div>
                <div id="article_title">
                    <a href="{% url 'post_detail'  pk=post.pk %}">{{ post.title }}</a> <!-- その記事のタイトルを表示 -->
                    <hr>
                </div>
                <!-- その記事のタイトル表示 -->
                <div id="article_contents">
                    <img src="{{ post.image.url }}"/>
                    {% if post.title|length <= 28 %}
                        <div id="article_text1" >
                            {{ post.text|linebreaks }}
                        </div>
                    {% else %}
                         <div id="article_text2">
                            {{ post.text|linebreaks }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div id="article_footer">
                <table>
                <tr>
                    <td><a href="{% url 'category' pk=post.category.pk %}">{{ post.category }}</a><strong>;</strong></td>
                </tr>
                </table>
                <a href="{% url 'post_detail'  pk=post.pk %}"><img src="{% static 'media/next_button.png' %}" width="100px" height="50px"/></a>
            </div>
            <div class="clear"></div>
        </div>
    {% endfor %}
    <div id="paging">
        <!-- 前へ の部分 -->
        {% if page.has_previous %}
          <a href="?page={{ page.previous_page_number }}">前へ</a>
        {% endif %}

        <!-- 数字の部分 -->
        {% for num in page.paginator.page_range %}
          {% if page.number == num %}
            <span>{{ num }}</span>
          {% else %}
            <a href="?page={{ num }}">{{ num }}</a>
          {% endif %}
        {% endfor %}

        <!-- 次へ の部分 -->
        {% if page.has_next %}
          <a href="?page={{ page.next_page_number }}">次へ</a>
        {% endif %}
    </div>
 {% endblock content %}
