#header a {
    text-decoration: none;
}

body{
  width:100%; /*ページ全体の幅は100%と指定する*/
  text-align:center; /*ページ全体を中央揃えにする*/
}

#wrap{
  width: 1000px;	   /*全体の幅を指定する*/
  margin: 0 auto;    /*マージンの指定をする、ブラウザ対策*/
  text-align:left;   /*全体を左揃えにする。*/
}

#header{ /* header */

    top: 0; /* 一番上 */
    left: 0; /* 一番左 */
    width: auto; /* 横幅 */
    height: 130px; /* 縦幅 */
    background-color: #000000;
}
#header_title{
    padding-left: 5px;
    font-size: 85px;
    display: table-cell;
    line-height: 1.4em;
}

#header_title > a{
    font-family: 'Lobster';
    color: #ffffff;
}

.share_table{
    margin-top: 10px;
    margin-left: 715px;
    margin-bottom: 5px;
    padding-top: 1px;
    border-collapse: separate;
    border-spacing: 5px;
}

.fb-share-button{
    margin-bottom: 5px;
}

#contents{

    width: 100%;
    height: 3000px;
    margin-top:35px;
    padding-left: 15px;
    background-color: #ffffff;
}

#article{
    position: relative;
    width: 600px;
    height: 350px;
    border-radius: 25px 100px 25px 100px / 25px 100px 25px 100px;
    margin-bottom: 100px;
    background-color: #e2e2e2;
}

#not_footer{
    height: 290px;
}

#article_header{
    margin-right: 90px;
    padding-left: 13px;
}

#article_header > p > a{
    margin-left: 190px;
}

#article_title{
    height: auto;
    width: 580px;
    font-weight: bold;
    margin-left: 10px;
    padding-right: 20px;
}

#article_title > a{
    font-size: 20px;
}

#article_title > hr{
    width: 560px;
    border:none;
    border-bottom: 3px #efbb67 dashed;
    margin-top: 5px;
    margin-bottom: 10px;
}

#article_contents{
    width: 560px;
    margin-left: 10px;

}

#article_contents > img{
    float: left;
    max-height: 180px;
    max-width: 280px;
}

#article_text1{
    margin-left: 290px;
    padding-left: 6px;
    height: 200px;
    border-left: 3px #000000 dashed;
    border-right: 3px #000000 dashed;
}

#article_text2{
    margin-left: 290px;
    padding-left: 6px;
    height: 171px;
    border-left: 3px #000000 dashed;
    border-right: 3px #000000 dashed;
}

#article_footer{
    height: auto;
    width: auto;
    margin-left: 90px;
    margin-right: 30px;
}

#article_footer > table{
    width: 163px;
    line-height: 0;
    float: left;
    margin-top: 4px;
    margin-left: 5px;

    border-collapse: separate;
    border-spacing: 5px 12px;
}

.article_footer_under{
    height: 20px;
    display: block;
}

#article_footer > a{
    margin-left: 210px;
}

.category_border{
    border: solid 1px;
}

#article_block{
    height: auto;
    width: 600px;
}

#paging{
    width: 600px;
    text-align: center;
    font-size: 30px;
}

#right_side_bar{
    width: 300px;
    height:2990px;
    margin-right: 17px;
    background-color: #f0f8ff;
    float: right;
}

.popular_post_and_category{
    text-align: center;
}

.popular_post_and_category_title{
    font-size: 19px;
    font-weight: bold;
    color: #4d4d4f;
}

textarea{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 150px;
    width: 500px;
}

#form_button_margin_left{
    margin-left: 400px;
}

.comment {
    margin: 20px 0px 20px 20px;
    width: 550px;
}

.sidebar_hr_size{
    height: 5px;
    border: none;
    background-color: #000000;
}


#popular_hr{
    margin-left: 20px;
    margin-right: 20px;
    height: 2px;
    border: none;
    background-color: #000000;
}

#category{
    font-size: 28px;
}

#link_underbar_delete > a{
    text-decoration: none;
    font-size: 20px;
    margin-top: 10px;
}

.square_btn {
    width: 150px;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 5px 11px 5px 15px;
    text-decoration: none;
    color: #00bfff;
    transition: .4s;
}

.square_btn:before {
   position: absolute;
   display: inline-block;
   content: '';
   width: 4px;
   height: 100%;
   top: 0;
   left: 0;
   border-radius: 3px;
   background:#191970;

}

.square_btn:after{
   position: absolute;
   display: inline-block;
   content: '';
   width: 4px;
   height: 100%;
   top:0;
   left: 100%;
   border-radius: 3px;
   background:#191970;
}

.square_btn:hover:before,.square_btn:hover:after{
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}

.clear{
    clear: both;
}

#footer{
    width: auto;
    height: 100px;
    background-color: #777777;
}